# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# VSCode
.vscode/

# Mypy cache
.mypy_cache/

# Files of schema VK API
output/
errors.json
responses.json
objects.json
methods.json

# Tests
.pytest_cache/
htmlcov/
.coverage
